@import url(http://fonts.googleapis.com/css?family=Lemon);
@import url(http://fonts.googleapis.com/css?family=Lato:400,400italic);
@import url(http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);

html, body, #main, #map {
    width: 100%;
    height: 100%;
    margin: 0;
}

body {
    background-color: #212121;
    font-family: Lato, sans-serif;
}

#main {
    display:table;
}

#titlebar {
    display: table-row;
    text-align: center;
    background-color: black;
}

#titlebar h1 {
    margin: 0;
    padding: 0.5em 0 0.5em 0;
    font-size: 4em;
    font-family: Lemon, sans-serif;
    color: white;
}

#titlebar h1.title {
    font-size: 9em;
}

#content {
    height: 100%;
    display: table-row;
}

.valign {
    width: 100%;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
}

.loading {
    text-align: center;
    font: 6em Lemon;
    color: white;
}

.home, .search {
    width: 80%;
    margin: auto;
    text-align:center;
}

.home button {
    width: 90%;
    padding: 1em 0 1em 0;
    font-size: 6em;
}

.home button, .search button {
    background-color: #696969;
    border-radius: 10px;
    -moz-border-radius: 10px;
    border: 2px solid #696969;
    color: white;
}

.search input, .search select {
    background-color: #1A1A1A;
    border-radius: 10px;
    -moz-border-radius: 10px;
    border: 2px solid #696969;
    color: white;
}

.search input, .search select, .search button {
    font-size: 3.75em;
    font-family: Lato, sans-serif;
}

.search-results {
    width: 100%;
    font-size: 4em;
    color: white;
}

.search-results ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.search-results li {
    padding: 1em 0 1em 0;
    border-width: 0 0 1px 0;
    border-style: dotted;
    border-color: gray;
}

.search-results li:hover {
    background-color: #808080;
}

.location {
    width: 100%;
    font-size: 4em;
    color: white;
}

.location h2 {
    margin: 0;
    display: inline-block;
    font-size: 1em;
}

.location button {
    background-color: transparent;
    border-style: none;
    font-family: FontAwesome;
    font-size: 2em;
    color: #808080;
}

.location .topbar {
    background-color: #1A1A1A;
    overflow: hidden;
}

.location .topbar h2 {
    font-style: italic;
    color: #999999;
}

.location .topbar button {
    float: right;
    padding-left: 0.5em;
    background-color: transparent;
    border-style: none;
    font-family: FontAwesome;
    font-size: 1.5em;
    color: #808080;
}

.location button i {
    font-style: normal;
}

.location .details {
    width: 80%;
    margin: auto;
    padding: 0.2em;
    background-color: #363636;
    font-size: 0.75em;
}

.location .details p {
    margin: 0;
}

.location .none-in-range {
    margin: 0;
    color: #808080;
}

ul.indicators {
    padding: 0;
    margin: 0;
    clear: both;
    list-style-type: none;
}

.indicators li {
    padding: 0.5em 0 0.5em 0;
    border-width: 0 0 1px 0;
    border-style: dotted;
    border-color: gray;
}

.indicators .value {
    padding-right: 0.5em;
    float: right;
}

.indicators .unit {
    font-size: 1em;
    color: gray;
}

.indicators div {
    font-size: 0.75em;
}

.indicators div li {
    border-style:none;
}

.indicators p {
    margin: 0;
}

.ambient .level-0 {
    color: gray;
}

.ambient .level-1 {
    color: #EBEB2C;
}

.ambient .level-2 {
    color: #F0B021;
}

.ambient .level-3 {
    color: #F57516;
}

.ambient .level-4 {
    color: #FA3A0B;
}

.ambient .level-5 {
    color: #FF0000;
}

.toxics .level-0, .pollutants .level-0 {
    color: gray;
}

.toxics .level-1, .pollutants .level-1 {
    color: #EBEB2C;
}

.toxics .level-2, .pollutants .level-2 {
    color: #EFBC23;
}

.toxics .level-3, .pollutants .level-3 {
    color: #F38D1A;
}

.toxics .level-4, .pollutants .level-4 {
    color: #F75E11;
}

.toxics .level-5, .pollutants .level-5 {
    color: #FB2F08;
}

.toxics .level-6, .pollutants .level-6 {
    color: #FF0000;
}
